@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}
@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --accentgreen: rgba(161, 205, 68, 1);
    --accentred: rgba(205, 84, 68, 1);
    --accentyellow: rgba(193, 177, 95, 1);
    --backgroundhighlight: rgba(30, 35, 41, 1);
    --backgroundhover: rgba(49, 56, 67, 1);
    --backgroundmain: rgba(14, 20, 27, 1);
    --backgroundmain-20: rgba(14, 20, 27, 0.2);
    --backgroundmain-50: rgba(14, 20, 27, 0.5);
    --backgroundsecondary: rgba(20, 52, 75, 1);
    --backgroundtertiary: rgba(33, 43, 69, 1);
    --body-large-font-family: "MotivaSans-Regular", Helvetica;
    --body-large-font-size: 16px;
    --body-large-font-style: normal;
    --body-large-font-weight: 400;
    --body-large-letter-spacing: 0px;
    --body-large-line-height: normal;
    --body-medium-font-family: "MotivaSans-Regular", Helvetica;
    --body-medium-font-size: 14px;
    --body-medium-font-style: normal;
    --body-medium-font-weight: 400;
    --body-medium-letter-spacing: 0px;
    --body-medium-line-height: normal;
    --body-small-font-family: "MotivaSans-Regular", Helvetica;
    --body-small-font-size: 12px;
    --body-small-font-style: normal;
    --body-small-font-weight: 400;
    --body-small-letter-spacing: 0px;
    --body-small-line-height: normal;
    --colorprimary: rgba(102, 192, 244, 1);
    --colorsecondary: rgba(75, 97, 155, 1);
    --heading-large-font-family: "MotivaSans-Bold", Helvetica;
    --heading-large-font-size: 26px;
    --heading-large-font-style: normal;
    --heading-large-font-weight: 700;
    --heading-large-letter-spacing: 0px;
    --heading-large-line-height: normal;
    --heading-medium-font-family: "MotivaSans-Bold", Helvetica;
    --heading-medium-font-size: 22px;
    --heading-medium-font-style: normal;
    --heading-medium-font-weight: 700;
    --heading-medium-letter-spacing: 0px;
    --heading-medium-line-height: normal;
    --heading-small-font-family: "MotivaSans-Bold", Helvetica;
    --heading-small-font-size: 18px;
    --heading-small-font-style: normal;
    --heading-small-font-weight: 700;
    --heading-small-letter-spacing: 0px;
    --heading-small-line-height: normal;
    --textdim: rgba(118, 128, 140, 1);
    --textmain: rgba(243, 243, 243, 1);
    --variable-collection-10: 13px;
    --variable-collection-20: 27px;
    --variable-collection-30: 41px;
    --variable-collection-40: 55px;
    --variable-collection-50: 69px;
    --variable-collection-60: 82px;
    --variable-collection-70: 96px;
    --variable-collection-80: 110px;
    --variable-collection-90: 124px;
    --variable-collection-accent-green: rgba(161, 205, 68, 1);
    --variable-collection-accent-red: rgba(205, 84, 68, 1);
    --variable-collection-background-highlight: rgba(30, 35, 41, 1);
    --variable-collection-background-hover: rgba(49, 56, 67, 1);
    --variable-collection-background-main: rgba(14, 20, 27, 1);
    --variable-collection-background-secondary: rgba(20, 52, 75, 1);
    --variable-collection-background-tertiary: rgba(33, 43, 69, 1);
    --variable-collection-border-radius: 3px;
    --variable-collection-color-primary: rgba(102, 192, 244, 1);
    --variable-collection-color-secondary: rgba(75, 97, 155, 1);
    --variable-collection-hover-layer: rgba(255, 255, 255, 0.1);
    --variable-collection-text-dim: rgba(118, 128, 140, 1);
    --variable-collection-text-main: rgba(243, 243, 243, 1);
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

[data-variable-collection-mode="mode-1"] {
  --variable-collection-10: 13px;
  --variable-collection-20: 27px;
  --variable-collection-30: 41px;
  --variable-collection-40: 55px;
  --variable-collection-50: 69px;
  --variable-collection-60: 82px;
  --variable-collection-80: 110px;
  --variable-collection-90: 124px;
  --variable-collection-accent-green: rgba(161, 205, 68, 1);
  --variable-collection-accent-red: rgba(205, 84, 68, 1);
  --variable-collection-background-highlight: rgba(30, 35, 41, 1);
  --variable-collection-background-hover: rgba(49, 56, 67, 1);
  --variable-collection-background-main: rgba(14, 20, 27, 1);
  --variable-collection-background-secondary: rgba(20, 52, 75, 1);
  --variable-collection-background-tertiary: rgba(33, 43, 69, 1);
  --variable-collection-border-radius: 3px;
  --variable-collection-color-primary: rgba(102, 192, 244, 1);
  --variable-collection-color-secondary: rgba(75, 97, 155, 1);
  --variable-collection-hover-layer: rgba(255, 255, 255, 0.1);
  --variable-collection-text-dim: rgba(118, 128, 140, 1);
  --variable-collection-text-main: rgba(243, 243, 243, 1);
}

[data-variable-collection-mode="mode-2"] {
  --variable-collection-10: 0px;
  --variable-collection-20: 0px;
  --variable-collection-30: 0px;
  --variable-collection-40: 0px;
  --variable-collection-50: 0px;
  --variable-collection-60: 0px;
  --variable-collection-80: 0px;
  --variable-collection-90: 90px;
  --variable-collection-accent-green: rgba(255, 255, 255, 1);
  --variable-collection-accent-red: rgba(255, 255, 255, 1);
  --variable-collection-background-highlight: rgba(255, 255, 255, 1);
  --variable-collection-background-hover: rgba(255, 255, 255, 1);
  --variable-collection-background-main: rgba(255, 255, 255, 1);
  --variable-collection-background-secondary: rgba(255, 255, 255, 1);
  --variable-collection-background-tertiary: rgba(255, 255, 255, 1);
  --variable-collection-border-radius: 2px;
  --variable-collection-color-primary: rgba(255, 255, 255, 1);
  --variable-collection-color-secondary: rgba(255, 255, 255, 1);
  --variable-collection-hover-layer: rgba(255, 255, 255, 1);
  --variable-collection-text-dim: rgba(255, 255, 255, 1);
  --variable-collection-text-main: rgba(255, 255, 255, 1);
}
